/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}


/* ---------------------------------------------------
    OTHER STYLE
----------------------------------------------------- */

.col-md-auto{
    padding-right: 0px;
    padding-left: 0px;
}

#info{
    padding-top: 40px;
}