/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    OTHER STYLE
----------------------------------------------------- */

#submit {
    position: absolute; /* Абсолютное позиционирование */
    bottom: 36px; /* Положение от нижнего края */
}

.col-md-auto{
    padding-right: 0px;
}

a img:hover{
    box-shadow: inset 0 0 0 23px #2a5d7a;
}

.row.justify-content-center{
    margin: 30px;
}

footer.text-muted {
    margin-top: 100px;
}

.row.align-items-center input{
    margin-right: 30px;

}

#regButton {
    background-image: linear-gradient(#FE5568 50%, #FE5568 50%), linear-gradient(silver 50%, silver 50%);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 0 2px, 100% 2px;
    color: #1E3A52;
    padding-bottom: 3px;
    transition: .5s ease-in-out;
}
#regButton:hover {
    background-size: 100% 2px, 100% 2px;
    color: #FE5568;
}
